

<%= div_for post do %>
<div class="medium-8 columns">
  <div class="blog-post">
    <strong><%= link_to post.title, post %></strong><small>From <%= time_ago_in_words(post.created_at)%></small><br>
    <%= image_tag post.avatar.url %>
    <p><%= post.content.split[0..50].join(" ") %></p>
    <div class="callout">
      <ul class="menu simple">
        <li><%= raw tag_links(post.all_tags)%></li>
        <% if @admin %>
          <%= link_to "Delete Post", post, method: :delete,
                                            data: { confirm: "Are you sure?"} %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
