<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item">
        <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma logo">
      </a>
      <%= active_link_to "Home", root_path, :class_active => 'is-active', :active => :exact, :class => 'nav-item is-tab is-hidden-mobile' %>
      <%= active_link_to 'New Post', new_post_path, :class_active => 'is-active', :active => :exact, :class => 'nav-item is-tab is-hidden-mobile' %>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
      <%= active_link_to "Home", root_path, :class => 'nav-item is-tab is-hidden-tablet' %>
      <%= active_link_to 'New Post', new_post_path, :class => 'nav-item is-tab is-hidden-tablet' %>
      <% if logged_in? %>
        <%= active_link_to 'Profile', current_user, :class => 'nav-item is-tab is-hidden-tablet' %>
        <%= active_link_to 'Settings', edit_user_path(current_user),:class => 'nav-item is-tab is-hidden-tablet' %>

        <%= active_link_to current_user, :class_active => 'is-active', :active => :exact, :class => 'nav-item is-tab' do %>
          <figure class="image is-16x16" style="margin-right: 8px;">
            <%= image_tag current_user.uvatar.url %>
          </figure>
          Profile
        <% end %>
        <%= active_link_to 'Settings', edit_user_path(current_user),:class => 'nav-item is-tab is-hidden-mobile' %>
      <% end %>
      <% if logged_in? %>
        <%= active_link_to 'Log Out', logout_path, method: 'delete', :class => 'nav-item is-tab' %>
        <% else %>
        <%= active_link_to 'Log In', login_path, :class => 'nav-item is-tab'%>
      <% end %>
    </div>
  </div>
</nav>
